@charset "UTF-8";
/*GENERAL*/
body {
  font-family: "Roboto", serif; }

/*HEPLERS*/
.main_content {
  width: 1203px;
  display: table;
  margin: auto; }

.full_screen {
  display: table;
  width: 100%; }

.full {
  display: none; }

.left {
  float: left; }

.right {
  float: right; }

.full_green {
  width: 100%;
  background-color: #729521;
  color: #fff;
  text-align: center;
  padding: 40px 0px;
  text-transform: uppercase; }
  .full_green h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 36px;
    font-weight: 200; }

.full_blue {
  width: 100%;
  background-color: #073559;
  color: #fff;
  text-align: center; }
  .full_blue h3 {
    font-size: 34px; }

.big_blue {
  padding: 30px 0px; }

.texts {
  width: 1203px;
  overflow: hidden;
  display: table;
  margin: auto;
  padding: 35px 30px;
  font-size: 22px;
  color: #212121; }
  .texts .left_text,
  .texts .right_text {
    display: inline-block;
    width: 47%;
    text-align: justify; }
  .texts .right_text {
    float: right; }
  .texts .left_text {
    float: left; }

.pagination_block {
  display: table;
  margin: auto; }

.pagination li a {
  font-size: 20px;
  background-color: #0b5188;
  color: #fff;
  border-color: #0b5188; }
  .pagination li a:hover, .pagination li a:active, .pagination li a:focus {
    background-color: #0d5fa0;
    color: #fff;
    border-color: #0d5fa0; }
.pagination .current {
  background-color: #0d5fa0;
  color: #fff;
  border-color: #0d5fa0; }

/*BUTTONS*/
.exit_btn {
  color: red;
  background: blue;
  font-size: 18px;
  border-color: blue; }
  .exit_btn:hover, .exit_btn:focus, .exit_btn.focus {
    color: red;
    background: #0000cc;
    border-color: #0000c2; }

.auth_btn {
  color: red;
  background: blue;
  font-size: 18px;
  border-color: blue; }
  .auth_btn:hover, .auth_btn:focus, .auth_btn.focus {
    color: red;
    background: #0000cc;
    border-color: #0000c2; }

.submit_btn {
  color: yellow;
  background: green;
  font-size: 18px;
  border-color: green;
  margin-top: 5%; }
  .submit_btn:hover, .submit_btn:focus, .submit_btn.focus {
    color: yellow;
    background: #004d00;
    border-color: #004300; }

.more_btn {
  color: #fff;
  background: #0b5188;
  font-size: 24px;
  border-color: #0b5188;
  display: table;
  margin: auto;
  margin-top: 20px;
  padding-left: 40px;
  padding-right: 40px; }
  .more_btn:hover, .more_btn:focus, .more_btn.focus {
    color: #fff;
    background: #073559;
    border-color: #062f50; }

.contact_us_btn {
  color: #fff;
  background: #729521;
  font-size: 16px;
  border-color: #729521;
  font-weight: 400;
  padding: 3px 20px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  text-transform: uppercase;
  /* Для Firefox */
  -ms-transform: rotate(270deg);
  /* Для IE */
  -webkit-transform: rotate(270deg);
  /* Для Safari, Chrome, iOS */
  /* Для Opera */
  transform: rotate(270deg);
  position: fixed;
  left: -92px;
  top: 55%; }
  .contact_us_btn:hover, .contact_us_btn:focus, .contact_us_btn.focus {
    color: #fff;
    background: #526b18;
    border-color: #4c6316; }
  .contact_us_btn .fa {
    margin-left: 20px; }

.sort_btn {
  color: #fff;
  background: #0b5188;
  font-size: 24px;
  border-color: #0b5188;
  display: table;
  margin: auto; }
  .sort_btn:hover, .sort_btn:focus, .sort_btn.focus {
    color: #fff;
    background: #073559;
    border-color: #062f50; }

/*FLASH MESSAGES*/
/*MESSAGE*/
.message {
  width: 1203px;
  position: relative;
  display: table;
  margin: auto;
  font-size: 21px;
  z-index: 101; }

.alert {
  padding: 2px; }

.message_text {
  display: table;
  margin: auto;
  text-align: center; }

.close {
  margin-top: 6px;
  margin-right: 30px; }

.close_message {
  position: absolute;
  right: -5px; }

/*MODAL*/
/*HEADER*/
.container_header {
  width: 1098px;
  display: table;
  margin: auto;
  padding: 25px 20px 25px 20px; }
  .container_header .logo {
    display: inline-block;
    float: left;
    background-color: #fff; }
  .container_header .descript {
    float: left;
    display: inline-block;
    overflow: hidden;
    color: #073559;
    font-size: 24px;
    font-weight: 400;
    margin-top: 50px;
    max-width: 300px; }
    .container_header .descript p {
      margin-bottom: 0; }
  .container_header .contacts {
    display: inline-block;
    color: #212121;
    font-size: 24px;
    margin-top: 50px;
    margin-left: 45px; }
    .container_header .contacts p {
      font-weight: 400;
      display: inline-block;
      vertical-align: bottom; }
    .container_header .contacts i {
      color: #073559;
      vertical-align: super;
      margin-left: 15px; }
  .container_header .socials {
    float: right;
    padding-top: 10px; }
    .container_header .socials i {
      color: #212121;
      margin-left: 17px;
      margin-bottom: 10px; }
      .container_header .socials i:hover {
        color: #729521; }
    .container_header .socials .fa-heart {
      color: #073559;
      float: left;
      margin: 60px 0px 0 0; }
      .container_header .socials .fa-heart:hover {
        color: #073559; }
    .container_header .socials .counter {
      font-size: 20px;
      margin-left: 80px; }
      .container_header .socials .counter p {
        margin-bottom: 0; }
      .container_header .socials .counter a {
        color: inherit;
        text-decoration: underline; }

/*NAVBAR*/
.container_navbar {
  background-color: #073559;
  box-shadow: 0px 1px 3px black; }

.navbar-default {
  background-color: #073559;
  border-color: #073559;
  display: table;
  margin: auto;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 300; }
  .navbar-default .navbar-brand {
    color: blue; }
    .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
      color: black;
      background-color: purple; }
  .navbar-default .navbar-text {
    color: white; }
  .navbar-default .navbar-nav > li > a {
    color: white; }
    .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
      color: #fff;
      background-color: #0e6db8; }
  .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #0e6db8; }
  .navbar-default .navbar-link {
    color: white; }
    .navbar-default .navbar-link:hover {
      color: #fff; }
  .navbar-default .btn-link {
    color: white; }
    .navbar-default .btn-link:hover, .navbar-default .btn-link:focus {
      color: #fff; }

/*LEFT SIDEBAR*/
/*RIGHT SIDEBAR*/
/*MAIN PAGE*/
/*HOW TO*/
/*RENT_SALE*/
/*CONTACTS*/
/*ARTICLES*/
/*ARTICLE*/
/*CATALOG*/
/*ESTATE*/
/*FOOTER*/
.full_screen {
  background-color: #505050; }

footer {
  padding: 15px 5px 15px 6px;
  overflow: hidden;
  width: 1098px;
  display: table;
  margin: auto;
  color: #fff; }

.logo_footer {
  float: left;
  margin-right: 20px; }

.footer_descript {
  max-width: 250px; }
  .footer_descript p {
    margin-bottom: 0;
    font-weight: 200; }

.footer_nav_block {
  display: inline-block; }
  .footer_nav_block ul {
    margin-right: 30px;
    margin-bottom: 0; }
    .footer_nav_block ul:last-child {
      margin-bottom: 0; }
    .footer_nav_block ul li {
      margin-bottom: 8px; }
      .footer_nav_block ul li a {
        color: #fff;
        font-weight: 200;
        text-transform: uppercase; }

.footer_nav {
  list-style: none; }

.copyright {
  display: block;
  float: right;
  font-weight: 200;
  margin-right: 20px;
  margin-top: 27px; }
  .copyright .our_link {
    float: right; }
    .copyright .our_link p {
      color: #fff; }
    .copyright .our_link a {
      color: #9ccb49; }
      .copyright .our_link a:hover {
        color: #13b4e6;
        text-decoration: none; }
      .copyright .our_link a:active, .copyright .our_link a:focus {
        outline: none;
        text-decoration: none; }
