.pre_full {
	width: 100%;
	background-color: $main_blue;
}
.container_header {
	width: $main_width;
	display: table;
	margin: auto;
}
.pre_header {
	padding: 12px 16px 9px 11px;
	overflow: hidden;
	p,
	a,
	.fa {
		color: #fff;
	}
	a {
		&:hover {
			cursor: pointer;
		}
	}
}
.log_in {
	float: left;
	.enter {
		float: left;
		margin-right: 60px;
		margin-top: 3px;
		.fa-user {
			margin-right: 14px;
			vertical-align: initial;
		}
	}
	.register {
		float: right;
		.fa-key {
			margin-left: 11px;
			vertical-align: super;
		}
	}
}
.right {
	float: right;
	margin-top: 3px;
	.devivery_info {
		float: left;
		margin-right: 50px;
		.fa-truck {
			margin-right: 15px;
		}
	}
	.chart_top {
		float: right;
		.chart_ico {
			float: left;
			.fa-shopping-cart {
				margin-right: 11px;
			}
		}
		.counter {
			float: right;
		}
	}
}
.main_header {
	padding: 14px 45px ;
	overflow: hidden;
	.logo {
		display: block;
		float: left;
	}
	.descript {
		display: inline-block;
		margin-top: 52-14px;
		margin-left: 49px;
		p {
			font-weight: 200;
			font-size: 24px;
			color: $main_black;
			margin-bottom: 0;
			line-height: 1;
		}
	}
	.contacts {
		float: right;
		margin-top: 46-14px;
		.phone {
			font-size: 30px;
			color: $main_blue;
			margin-bottom: 0;
			line-height: 1.3;
		}
		.delivery_description {
			margin-top: 14px;
			p {
				color: $main_black;
				font-size: 16px;
				font-weight: 200;
				line-height: 1;
				margin-bottom: 0;
			}
		}
	}
}